body, html{
    font-family: 'Pretendard-Light', sans-serif;
    height: 5000px;
}

.inner{
    width: 1440px;
    height: 100%;
    margin: 0px auto;
    position: relative;
}

.inner-small{
    width: 1280px;
    height: 100%;
    margin: 0px auto;
    position: relative;
}

.blind{
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    border: none;
    z-index: -1;
}